.editorconfig                       export-ignore
/.gitattributes                     export-ignore
/.github                            export-ignore
/docs                               export-ignore
/etc                                export-ignore
/features                           export-ignore
/node_modules                       export-ignore
/spec                               export-ignore
/tests                              export-ignore
.gitignore                          export-ignore
behat.yml.dist                      export-ignore
phpspec.yml.dist                    export-ignore
README.md                           export-ignore
CHANGELOG.md                        export-ignore
composer-require-checker.json       export-ignore
composer-unused.php                 export-ignore
ecs.php                             export-ignore
phpunit.xml.dist                    export-ignore
psalm.xml                           export-ignore
UPGRADE-0.12.md                     export-ignore
