/vendor/
/var/
/node_modules/
/composer.lock
/docker/

/etc/build/*
!/etc/build/.gitignore

/.phpunit.result.cache
/behat.yml
/behat.sh
/phpspec.yml
/compose.override.yml
/compose.test.yml

/.php-version
/php.ini

/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local
