/vendor/
/node_modules/
/composer.lock
/var/

/etc/build/*
!/etc/build/.gitignore

/tests/Application/yarn.lock

/behat.yml
/phpspec.yml
/.phpunit.result.cache
.php-version

/compose.override.yml
/php.ini

/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local
