# A Composer dist install ships the code, composer.json and what a user reads: README, CHANGELOG, the UPGRADE notes
# and the LICENSE. Tests, CI, tooling and editor/AI configuration stay in the repository
/.editorconfig                      export-ignore
/.gitattributes                     export-ignore
/.github                            export-ignore
/.gitignore                         export-ignore
/.mcp.json                          export-ignore
/CLAUDE.md                          export-ignore
/codecov.yml                        export-ignore
/composer-dependency-analyser.php   export-ignore
/ecs.php                            export-ignore
/infection.json.dist                export-ignore
/phpstan.neon                       export-ignore
/phpunit.xml.dist                   export-ignore
/rector.php                         export-ignore
/tests                              export-ignore
