imports:
    - vendor/sylius/sylius/src/Sylius/Behat/Resources/config/suites.yml
    - tests/Behat/Resources/suites.yml

default:
    formatters:
        pretty:
            verbose: true
            paths: false
            snippets: false

    extensions:
        FriendsOfBehat\SymfonyExtension:
            env_file: tests/Application/.env.test
            kernel:
                env: test
                debug: true
                class: Tests\Setono\SyliusGiftCardPlugin\Application\Kernel
                path: tests/Application/Kernel.php
                bootstrap: ~

        Lakion\Behat\MinkDebugExtension:
            directory: etc/build
            clean_start: false
            screenshot: true