includes:
    - phpstan-baseline.neon

parameters:
	reportUnmatchedIgnoredErrors: true
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false

	level: max

	paths:
		- src/
