<html lang="{{ sylius_base_locale }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
{% if configuration.backgroundImage is not empty %}
    {% set path = configuration.backgroundImage.path|imagine_filter('setono_sylius_gift_card_background') %}
    <img src="{{ path }}" alt="">
{% endif %}
<span class="code-block" style="position: absolute; top: 515px; left: 55px; font-size: 3.2rem; width: 1100px; text-align: center;">
    {{- giftCard.code -}}
</span>
<span class="price-block" style="position: absolute; top: 625px; left: 55px; font-size: 3.2rem; width: 400px; text-align: center;">
    {{- giftCard.amount|sylius_format_money(giftCard.currencyCode, sylius_base_locale) -}}
</span>
</body>
</html>
