<html>
    <head>
        <title>Gift card: {{ giftCard.code }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
