<h1 class="ui header">
    {{ 'setono_sylius_gift_card.ui.gift_cards'|trans }}

    {{ sylius_template_event('setono_sylius_gift_card.shop.account.gift_card.index.header', {'giftCards': resources}) }}
</h1>
